table {
  margin: 2rem auto;
  width: 100%;
}

.delete {
  color: red;
}

.edit {
  color: blue;
  margin-right: 1rem;
}

@media (max-width: 460px) {
  .mat-column-action {
    padding-right: 5px !important;
  }

  .mat-column-id {
    padding-left: 10px !important;
  }

  .edit {
    margin-right: 5px;
  }
}
