/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.msg-success {
  background-color: #29b447;
  color: #ffffff;
}

.msg-error {
  background-color: #cf2a2a;
  color: #ffffff;
}
